<h2>Materials list</h2>

<div class="card">
    <div class="card-body">
        <p>
            <strong>Filters</strong>
        </p>

        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref">Name</label>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name">
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Warehouse</label>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Warehouse">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Warehouse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of materials; index as i">
            <td>{{ item.id }} </td>
            <td>{{ item.name }}</td>
            <td>{{ item.warehouse }}</td>
        </tr>
    </tbody>
</table>